*{

   margin: 0;
   padding:0;
   font-family: 'verdana','helvetica','Arial',sans-serif;
   background-color: rgb(243, 26, 80);
}

p,li,a,button{
  text-decoration: none;
  color: white;
}

header{

  display: flex;
  /* justify-content:space-around; */
  justify-content: space-between;
  align-items: center; 
}


.logo{

font-weight:500;
font-size:20px;
padding: 10px 20px;
cursor:pointer;
letter-spacing: 0.2em;

}



.nav-links li{

  list-style: none;
  display: inline-block;

}

.nav-links li a{

   margin: 0 20px;
   transition: all 0.3s ease 0s;

}

.nav-links li a:hover{

  
 color:#e0fd3b;

}

button{

  border:none;
  background-color: #07097c;
  margin-right:20px;
  padding: 6px  25px;
  border-radius: 15px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}



button:hover{

  background-color: rgb(241, 31, 41) ;
  color: #e0fd3b;
 
}